﻿@model (ToDoList list, string TitleText, string CallbackMethodName, string returnUrl)

@{
    ToDoList list = Model.list;
    bool isCreate = (Model.CallbackMethodName == "Create");
}

<div class="d-grid gap-2">
    <div class="row">
        <div class="col-10">
            <h3>
                @Model.TitleText
            </h3>
        </div>
        <hr style="width: 98%;" />
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <form asp-action="@Model.CallbackMethodName" asp-controller="List" method="post">
                <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>
                <input asp-for="@list.Id" class="invisible" />
                <input type="hidden" name="returnUrl" value="@Model.returnUrl" />
                <div class="form-group">
                    <label asp-for="@list.Title" class="control-label"></label>
                    <input asp-for="@list.Title" class="form-control" placeholder="Enter list title" />
                    <span asp-validation-for="@list.Title" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="@list.Description" class="control-label"></label>
                    <textarea asp-for="@list.Description" class="form-control" placeholder="Enter list description"></textarea>
                    <span asp-validation-for="@list.Description" class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <input type="submit" value="Done" class="btn btn-primary" />
                    @{
                        <a class="btn btn-secondary" href="@Model.returnUrl">Cancel</a>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
