﻿@model ListDataInputViewModel

@{
    ViewData["Title"] = "| Delete";
}

<div class="row">
    <h3>Are you sure you want to delete this To Do list?</h3>
    <hr />
    <p>
        <span class="text-danger">Data recovery will not be possible.</span>
        @if (@Model?.TodoList?.ToDoListTasks.Count > 0)
        {
            <span class="text-danger">
                <span class="fw-bold">@Model?.TodoList?.ToDoListTasks.Count </span>
                tasks will also be deleted.
            </span>
        }
    </p>
    <div>
        <h4 class="col-12">
            @Model?.TodoList?.Title
        </h4>
        <div>
            Description: @Model?.TodoList?.Description
        </div>
        <div class="text-end text-secondary">
            <small>
                Created: @Model?.TodoList?.DateCreation
            </small>
        </div>
    </div>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" href="@Model?.ReturnUrl">Cancel</a>
    </form>
</div>