﻿@model IEnumerable<ToDoList>

@{
    var displayLists = Model.Where(x => !x.Hide);
    var hiddenLists = Model.Where(x => x.Hide);

    <div id="todolists">
        <div class="d-flex justify-content-between">
            <div class="col-11">
                <a class="col-12 listbtn btn" asp-controller="Task" asp-action="Filter" asp-route-filter="Today" title="Tasks for today">
                    <div class="row">
                        <div class="col-2">
                            <i class="text-start fas fa-sun" style="font-size: x-large;"></i>
                        </div>
                        <div class="col-8">
                            <h5 class="col-12">
                                Today
                            </h5>
                            <div class="truncate-text col-12">
                                @{
                                    int todayTaskCount = this.Model.SelectMany(x => x.ToDoListTasks).ToList().Where(x => x.DueDate == DateTime.Now.Date && x.TaskStatus != Status.Completed).Count();
                                }
                                @Todo_aspnetmvc_ui.Helpers.Helpers.GetStringNumberOf(todayTaskCount, "task", "tasks")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="col-11">
                <a class="col-12 listbtn btn" asp-controller="Task" asp-action="Filter" asp-route-filter="Planned" title="Scheduled tasks">
                    <div class="row">
                        <div class="col-2">
                            <i class="text-start fa-solid fa-calendar-days" style="font-size: x-large;"></i>
                        </div>
                        <div class="col-8">
                            <h5 class="col-12">
                                Planned
                            </h5>
                            <div class="truncate-text col-12">
                                @{
                                    int planedTaskCount = this.Model.SelectMany(x => x.ToDoListTasks).ToList().Where(x => x.DueDate > DateTime.Now.Date && x.TaskStatus != Status.Completed).Count();
                                }
                                @Todo_aspnetmvc_ui.Helpers.Helpers.GetStringNumberOf(planedTaskCount, "task", "tasks")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="col-11">
                <a class="col-12 listbtn btn" asp-controller="Task" asp-action="Filter" asp-route-filter="Overdue" title="Overdue tasks">
                    <div class="row">
                        <div class="col-2">
                            <i class="text-start fas fa-fire-alt" style="font-size: x-large;"></i>
                        </div>
                        <div class="col-8">
                            <h5 class="col-12">
                                Overdue
                            </h5>
                            <div class="truncate-text col-12">
                                @{
                                    int overdueTaskCount = this.Model.SelectMany(x => x.ToDoListTasks).ToList().Where(x => x.DueDate < DateTime.Now.Date && x.TaskStatus != Status.Completed).Count();
                                }
                                @Todo_aspnetmvc_ui.Helpers.Helpers.GetStringNumberOf(overdueTaskCount, "task", "tasks")
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
            <div class="col-11">
                <h4>
                    My ToDo lists
                </h4>
            </div>
            <div>
                <a class="btntodo btn btn-outline-secondary" asp-controller="List" asp-action="Create" title="Create new to do list">
                    <i class="fa-regular fa-plus"></i>
                </a>
            </div>
        </div>
        @if (displayLists.Any())
        {
            <partial name="_Lists" model='(displayLists , false)' />
        }

        @if (hiddenLists.Any())
        {
            <div class="accordion accordion-flush" id="accordionHide">
                <div class="accordion-item">
                    <div class="accordion-header col-11 " id="headingHide">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHide" aria-expanded="true" aria-controls="collapseHide">
                            <h5>
                                Hiden @hiddenLists.Count()
                            </h5>
                        </button>
                    </div>
                    <div id="collapseHide" class="accordion-collapse collapse Hide" aria-labelledby="headingHide" data-bs-parent="#accordionExample">
                        <partial name="_Lists" model='(hiddenLists, true)' />
                    </div>
                </div>
            </div>
        }
    </div>
}