﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TO DO @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar fixed-top bg-primary text-white">
        <div class="container-fluid">
            <div class="row col-12">
                <div class="col-3 navbar">
                    <a href="/" class="nolinktext" title="Main page" style="color: white">
                        <h2>ToDo</h2>
                    </a>
                </div>
                <div class="col-6 navbar">
                    <vc:remainder />
                </div>
                <div class="col-3 navbar-text text-end">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <form id="logout" asp-controller="Account" asp-action="Logout" method="POST" title="Log Out">
                            <a class="lgntodo btn btn-outline-secondary" href="javascript: $('#logout').submit()" style="margin-top: 3px;">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                        </form>
                    }
                </div>

            </div>
        </div>
    </nav>
    <div style="padding-top: 75px;">
        <div class="row m-1 p-1">
            @{
                string leftClass, rightClass;
                if (@ViewContext.RouteData.Values["Controller"]?.ToString() == "Home")
                {
                    leftClass = "col-12 col-md-3";
                    rightClass = "col-md-9 d-none d-lg-block";
                }
                else
                {
                    leftClass = "col-md-3 d-none d-lg-block";
                    rightClass = "col-12 col-md-9";
                }
            }
            <div class="@leftClass">
                <vc:todo-lists />
            </div>
            <div id="todotasks" class="@rightClass">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

