﻿@model (IEnumerable<ToDoList> lists, bool hiden)

@foreach (ToDoList list in Model.lists ?? Enumerable.Empty<ToDoList>())
{
    <div class="d-flex justify-content-between">
        <div class="col-11">
            <a class="col-12 listbtn btn" title="@list.Description"
           asp-controller="Task" asp-action="Tasks" asp-route-Id="@list.Id">
                <h5 class="col-12">
                    @list.Title
                </h5>
                <div class="col-12 text-gray truncate-text ">
                    @list.Description
                </div>
                <div class="col-12">
                    @{
                        int taskCount = list.ToDoListTasks.Where(x => x.TaskStatus != Status.Completed).Count();
                    }
                    @Todo_aspnetmvc_ui.Helpers.Helpers.GetStringNumberOf(taskCount,"task","tasks")
                </div>
            </a>
        </div>
        <div class="dropdown d-flex" style="margin-bottom: 6px;">
            <button class="btntodo btn btn-outline-secondary mt-auto">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <div class="dropdown-content">
                <div class="context-menu-btn">
                    @if (Model.hiden)
                    {
                        <a class="btntodo btn" asp-controller="List" asp-action="ChangeVisibility" asp-route-Id="@list.Id" title="Restore '@list.Title' in list">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btntodo btn" asp-controller="List" asp-action="ChangeVisibility" asp-route-Id="@list.Id" title="Hide list '@list.Title'">
                            <i class="fa-solid fa-eye-slash"></i>
                        </a>
                    }
                </div>
                <div class="context-menu-btn">
                    <a class="btntodo btn" asp-controller="List" asp-action="Edit" asp-route-Id="@list.Id" title="Edit list '@list.Title'">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </div>
                <div class="context-menu-btn">
                    <a class="btntodo btn" asp-controller="List" asp-action="Copy" asp-route-Id="@list.Id" title="Copy list '@list.Title'">
                        <i class="fa-solid fa-clone"></i>
                    </a>
                </div>
                <div class="context-menu-btn">
                    <a class="btntodo btn" asp-controller="List" asp-action="Delete" asp-route-Id="@list.Id" title="Delete list '@list.Title'">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}