﻿@model LoginViewModel
@{
    Layout = "_Layout";
}

<div class="account">

    <h2>Login</h2>
    <br />
    <form role="form" asp-action="Login">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group mb6">
            <label asp-for="EmailAddress"></label>
            <input type="email" asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>

        <div class="form-group mb6">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mb6">
            <input asp-for="ReturnUrl" type="hidden" class="form-control" />
        </div>
        <div class="form-group mb6">
            <label asp-for="RememberMe"></label>
            <input type="checkbox" asp-for="RememberMe" />
            <span asp-validation-for="RememberMe" class="field-validation-error"></span>
        </div>
        <div>
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

    </form>

    <br />

    <div class="form-group">
        <label>Not Registered?</label>
        <a asp-action="Register">Create a new account</a>
    </div>

</div>
