﻿@model RegisterViewModel
@{
    Layout = "_Layout";
}

<div class="account">

    <h2>New User Registration</h2>

    <br />

    <form role="form" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group mb6">
            <label asp-for="EmailAddress"></label>
            <input type="email" asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>

        <div class="form-group mb6">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mb6">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb6">
            <input asp-for="ReturnUrl" type="hidden" class="form-control" />
        </div>
        <br />
        <div>
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary">Create new user</button>
        </div>

    </form>
</div>
