﻿@if (@ViewBag.reminders > 0)
{
    <div class="col-12 text-center" id="reminder">
        <a class="col-12 btn msg" style="float:right; padding-bottom: 6px" asp-controller="Task" asp-action="Reminders" title="Show reminders">
            <i class="fa-solid fa-bell fa-shake"></i>
            @ViewBag.reminders <span>new reminders</span>
        </a>
    </div>
}