﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
    <link href="/css/mystyle.css" rel="stylesheet" />
</head>

<body>
    <div style="text-align: center">
        <a href="/">
            <img class="picture_alarm" src="/Images/@ViewBag.fileName" title="Go to the home page." alt="@ViewBag.message" />
        </a>
        <p class="text_alarm">@ViewBag.message</p>
    </div>
</body>
</html>