a.disabled {
    pointer-events: none;
    cursor: default;
    color: #888;
}

.fa-solid {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

.fa-sun {
    color: #f5bd00;
}

.fa-bell {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-size: x-large;
}

.msg {
    border: none;
    background-color: none;
    color: white;
}

    .msg:hover {
        background-color: none;
        color: white;
    }

.fa-fire-alt {
    color: #f44336;
}

.fa-calendar-days {
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
    color: white;
}

.form-group {
    padding-bottom: 7px;
}

.btntodo {
    font-size: large;
    place-self: flex-start;
    border: none;
    width: 38px;
    height: 38px;
    margin-left: 0px;
    padding: 6px;
    border-radius: 50%;
    background-color: none;
}

    .btntodo:hover {
        background-color: lightgray;
    }

.lgntodo {
    font-size: x-large;
    place-self: flex-start;
    border: none;
    width: 38px;
    height: 38px;
    margin-left: 0px;
    padding: 3px;
    border-radius: 50%;
    background-color: none;
}

    .lgntodo:hover {
        background-color: white;
    }

.fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.text-gray {
    color: #6c757d;
}

.mb6 {
    margin-bottom: 6px;
}

hr {
    margin-top: 5px;
    margin-bottom: 0px;
    width: 105%;
}

h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}

h4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}

#todotasks {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar-text {
    padding-top: 4px;
    padding-bottom: 4px;
}

.control-label {
    font-weight: 700;
}

html {
    font-size: 14px;
}

.invisible {
    display: none;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Sans Regular,Arial,sans-serif;
}

.picture_alarm {
    max-width: 225px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-outline-secondary {
    color: black;
}

.context-menu-btn {
    padding-left: 6px;
    padding-right: 6px
}

.listbtn {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border: 1px;
    border-style: solid;
}

    .listbtn:hover {
        background-color: #dee2e6;
    }

.nolinktext {
    color: black;
    text-decoration: none;
}

    .nolinktext:hover {
        color: black;
    }

.accordion-body {
    padding-left: 0px;
    padding-right: 0px;
}

.accordion-button {
    padding-top: 5px;
    padding-bottom: 0px;
}

.form-group {
    padding: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    margin: 0px;
    left: -200px;
    top: 56px;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .dropdown-content {
    display: flex;
}
