﻿@model (ToDoListTask task, string TitleText, string CallbackMethodName, string returnUrl)

@{
    ToDoListTask task = Model.task;
}

<div class="d-grid gap-2">
    <div class="row">
        <div class="col-10">
            <h3>
                @Model.TitleText
            </h3>
        </div>
        <hr style="width: 98%;" />
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <form asp-action="@Model.CallbackMethodName" asp-controller="Task" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="@task.Id" class="invisible" />
                <input asp-for="@task.ToDoListId" class="invisible" />
                <div class="form-group mb6">
                    <label asp-for="@task.Title" class="control-label"></label>
                    <input asp-for="@task.Title" class="form-control" />
                    <span asp-validation-for="@task.Title" class="text-danger"></span>
                </div>
                <input type="hidden" name="returnUrl" value="@Model.returnUrl" />
                <div class="form-group mb6">
                    <label asp-for="@task.Description" class="control-label"></label>
                    <textarea asp-for="@task.Description" class="form-control"></textarea>
                    <span asp-validation-for="@task.Description" class="text-danger"></span>
                </div>
                <div class="form-group mb6">
                    @foreach (var c in Enum.GetValues(typeof(Status)))
                    {
                        <div class="form-check-inline form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" asp-for="@task.TaskStatus" value="@c" checked="@((Status)c == task.TaskStatus)" />
                                @{
                                    var displayName = Todo_aspnetmvc_ui.Helpers.Helpers.GetDisplayNameFromEnumField<Status>((Status)c);
                                }
                                @displayName
                            </label>
                        </div>
                    }
                </div>
                <div class="form-group mb6">
                    <div class="form-check-inline form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="@task.Important" /> @Html.DisplayNameFor(model => Model.task.Important)
                        </label>
                    </div>
                    <div class="form-check-inline form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="@task.Urgent" /> @Html.DisplayNameFor(model => Model.task.Urgent)
                        </label>
                    </div>
                </div>
                <div class="form-group mb6 col-sm-6 col-md-5 col-xl-4">
                    <label asp-for="@task.DueDate" class="control-label"></label>
                    <input asp-for="@task.DueDate" class="form-control" />
                    <span asp-validation-for="@task.DueDate" class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <input type="submit" value="Done" class="btn btn-primary" />
                    <a class="btn btn-secondary" href="@Model.returnUrl">Cancel</a>
                    <span style="float:right; font-size:smaller" class="text-secondary">Created: @task.DateCreation.ToString("F")</span>
                </div>
            </form>
        </div>
    </div>
</div>
