﻿@model (IEnumerable<ToDoListTask> tasks, string title, string show, string accardeonHeaderClass)

<div class="accordion accordion-flush" id="accordion@(Model.show)">
    <div class="accordion-item">
        <div class="accordion-header@(Model.accardeonHeaderClass)" id="heading@(Model.show)">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(Model.show)" aria-expanded="true" aria-controls="collapse(@Model.show)">
                <h5>
                    @Model.title
                </h5>
            </button>
        </div>
        <div id="collapse@(Model.show)" class="accordion-collapse collapse @(Model.show)" aria-labelledby="heading@(Model.show)" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div style="margin-top: 7px;">
                    @foreach (var task in Model.tasks ?? Enumerable.Empty<ToDoListTask>())
                    {
                        <partial name="_Task" model='(task)' />
                    }
                </div>
            </div>
        </div>
    </div>
</div>