﻿@model ToDoListTask


<div class="card card-outline-primary m-1 p-1">
    <div class="row">
        <div class="col-11">
            <div class="col-12 p-1">
                <h5>
                    @Model.Title
                </h5>
            </div>
            <div class="col-12 p-1">
                @Model.Description
            </div>
            <div class="row col-12 p-1">
                <div class="col-lg-8 col-md-6 col-6">
                    Due data: @Model.DueDate.ToString("d")
                </div>
                <div class="col-lg-4 col-mb-5 col-6 form-group" style="display: flex;">
                    @{
                        string display = "none";

                        if (@Model.Remind > DateTime.Now.AddYears(-100))
                        {
                            display = "block";
                        }
                    }
                    <form id="el@(Model.Id)" class="text-end col-12" asp-action="SetReminder" asp-controller="Task" style="display:@display" method="post">
                        <input name="idTask" value="@Model.Id" class="invisible" />
                        <input name="idList" value="@Model.ToDoListId" class="invisible" />
                        <input name="idList" value="@Model.Remind" class="invisible" />
                        <input class="col-7 text-end form-control" asp-for="@Model.Remind" onchange="this.form.submit();" />
                        <span asp-validation-for="@Model.Remind" class="text-danger"></span>
                    </form>
                </div>
            </div>
            <div class="col-12 p-1">
                <div class="form-group" style="display: inline-flex;">
                    <form asp-action="ChangeStatus" asp-controller="Task" method="post">
                        <input name="idTask" value="@Model.Id" class="invisible" />
                        <input name="idList" value="@Model.ToDoListId" class="invisible" />
                        @foreach (var c in Enum.GetValues(typeof(Status)))
                        {
                            <div class="form-check-inline form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="newStatus" value="@((int)(Status)c)" onchange="this.form.submit();" checked="@((Status)c == Model.TaskStatus)" />
                                    @{
                                        var displayName = Todo_aspnetmvc_ui.Helpers.Helpers.GetDisplayNameFromEnumField<Status>((Status)c);
                                    }
                                    @displayName
                                </label>
                            </div>
                        }
                    </form>
                    <span style="padding-right:12px">|</span>
                    <div>
                        <div class="form-check-inline form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@Model.Important" disabled /> @Html.DisplayNameFor(model => @Model.Important)
                            </label>
                        </div>
                        <div class="form-check-inline form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="@Model.Urgent" disabled /> @Html.DisplayNameFor(model => @Model.Urgent)
                            </label>
                        </div>
                    </div>
                    <span style="text-align: center; color: gray;">@EisenhowerMatrix.Tip(Model.Important,Model.Urgent)</span>
                </div>
                <div class="form-group">
                </div>
            </div>
        </div>
        <div class="col-1">
            <a class="btntodo btn btn-outline-secondary" style="float:right; padding-bottom: 6px; margin-left: 15px;" asp-controller="Task" asp-action="Edit" asp-route-Id="@Model.Id" title="Edit task">
                <i class="fa-solid fa-pen"></i>
            </a>
            <a class="btntodo btn btn-outline-secondary" style="float:right; padding-bottom: 6px; margin-left: 15px;" asp-controller="Task" asp-action="Delete" asp-route-Id="@Model.Id" title="Delete task">
                <i class="fa-solid fa-trash"></i>
            </a>
            <a class="btntodo btn btn-outline-secondary" style="float:right; padding-bottom: 6px; margin-left: 15px;" onclick="show('el@(Model.Id)')" title="Set reminder">
                <i class="fa-solid fa-clock"></i>
            </a>
        </div>
    </div>
</div>
<div class="text-end text-secondary"><small>Created: @Model.DateCreation.ToString("F")</small></div>