﻿@model TaskDataInputViewModel

@{
    ViewData["Title"] = "| Delete";
    string returnUrl = @Model.ReturnUrl;
}

<div class="row">
    <h3>Are you sure you want to delete this task?</h3>
    <hr />
    <p>
        <span class="text-danger">Data recovery will not be possible.</span>
    </p>
    <div>
        <h4 class="col-12 mb6">
            @Model?.ToDoTask?.Title
        </h4>
        <div class="col-12 mb6">
            Description: @Model?.ToDoTask?.Description
        </div>
        <div class="col-12 mb6">
            <span>Due data: @Model?.ToDoTask?.DueDate.ToString("d")</span>
        </div>
        <div class="form-group mb6 mb6">
            @foreach (var c in Enum.GetValues(typeof(Status)))
            {
                <div class="form-check-inline form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="newStatus" value="@((int)(Status)c)" onchange="this.form.submit();" checked="@((Status)c == Model?.ToDoTask?.TaskStatus)" disabled />
                        @{
                            var displayName = Todo_aspnetmvc_ui.Helpers.Helpers.GetDisplayNameFromEnumField<Status>((Status)c);
                        }
                        @displayName
                    </label>
                </div>
            }
            <span style="padding-right:12px">|</span>
            @if (Model != null && Model?.ToDoTask != null)
            {
                <div class="form-check-inline form-check mb6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.ToDoTask.Important" disabled /> <label asp-for="@Model.ToDoTask.Important"></label>
                    </label>
                </div>
                <div class="form-check-inline form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.ToDoTask.Urgent" disabled /> <label asp-for="@Model.ToDoTask.Urgent"></label>
                    </label>
                </div>
            }
        </div>
        <div class="text-end text-secondary">
            <small>
                Created: @Model?.ToDoTask?.DateCreation
            </small>
        </div>
    </div>
    <form asp-action="Delete">
        <input name="ToDoListId" value="@Model?.ToDoTask?.ToDoListId" class="invisible" />
        <input type="hidden" name="returnUrl" value="@returnUrl" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" href="@Model?.ReturnUrl">Cancel</a>
    </form>
</div>