﻿@model TasksViewModel

@{
    string addTaskButtonClass = string.Empty;
    if (Model?.CurrentToDoList == -1)
    {
        addTaskButtonClass = " invisible";
    }

    <div class="row">
        <div class="col-4">
            <a class="btntodo btn btn-outline-secondary d-lg-none" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-left-long"></i>
            </a>
        </div>
        <div class="col-4">
            <h3 class="col-12 text-center">
                @ViewBag.listName
            </h3>
        </div>
        <div class="col-4 navbar-text text-end">
            <a class="btntodo btn btn-outline-secondary d-none d-lg-block@(addTaskButtonClass)" style="float: right; margin-right: 10px;" asp-controller="Task" asp-action="Create" asp-route-id="@Model?.CurrentToDoList" title="Create new task">
                <i class="fa-regular fa-plus"></i>
            </a>
        </div>
    </div>

    var uncompletedTasks = Model?.TodoTasks.Where(x => x.TaskStatus != Status.Completed) ?? Enumerable.Empty<ToDoListTask>();
    var completedTasks = Model?.TodoTasks.Where(x => x.TaskStatus == Status.Completed) ?? Enumerable.Empty<ToDoListTask>();

    if (Model?.TodoTasks.Count() > 0)
    {
        string accardeonHeaderClass = string.Empty;

        if (!completedTasks.Any())
        {
            accardeonHeaderClass = " invisible";
        }

        if (uncompletedTasks.Any())
        {
            <partial name="_Tasks" model='(uncompletedTasks , "Uncompleted", "show", accardeonHeaderClass)' />
        }

        if (completedTasks.Any())
        {
            <partial name="_Tasks" model='(completedTasks, $"Completed ({completedTasks.Count()})", "", accardeonHeaderClass)' />
        }
    }
    <a class="btntodo fixedbutton btn text-white d-lg-none@(addTaskButtonClass)" style="background-color: blue" asp-controller="Task" asp-action="Create" asp-route-id="@Model?.CurrentToDoList" title="Create new task">
        <i class="fa-regular fa-plus"></i>
    </a>

}